<!DOCTYPE html>
<html lang="pt-bt">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <title>Aula 2</title>

</head>
<body>

    <div id="placar">
        <div>{{numero}}</div>
        <span v-if="numero >= 5">Parabéns, você passou de 5 pontos</span>
    </div>

    <div id="lista">
        <ul>
            <li v-for="info in nomes">
                {{info.nome}}
            </li>
        </ul>
    </div>

    <script src="script.js"></script>

</body>
</html>